<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prefixes</key>
	<dict>
		<key>ye</key>
		<string>є</string>
		<key>yi</key>
		<string>ї</string>
		<key>yu</key>
		<string>ю</string>
		<key>ya</key>
		<string>я</string>
		<key>y</key>
		<string>й</string>
	</dict>
	<key>Combinations</key>
	<dict>
		<key>shch</key>
		<string>щ</string>
		<key>zgh</key>
		<string>зг</string>
		<key>sh</key>
		<string>ш</string>
		<key>zh</key>
		<string>ж</string>
		<key>ie</key>
		<string>є</string>
		<key>iu</key>
		<string>ю</string>
		<key>ia</key>
		<string>я</string>
		<key>kh</key>
		<string>х</string>
		<key>ts</key>
		<string>ц</string>
		<key>ch</key>
		<string>ч</string>
	</dict>
	<key>Letters</key>
	<dict>
		<key>а</key>
		<string>a</string>
		<key>b</key>
		<string>б</string>
		<key>v</key>
		<string>в</string>
		<key>h</key>
		<string>г</string>
		<key>g</key>
		<string>ґ</string>
		<key>d</key>
		<string>д</string>
		<key>e</key>
		<string>е</string>
		<key>z</key>
		<string>з</string>
		<key>y</key>
		<string>и</string>
		<key>i</key>
		<string>і</string>
		<key>k</key>
		<string>к</string>
		<key>l</key>
		<string>л</string>
		<key>m</key>
		<string>м</string>
		<key>n</key>
		<string>н</string>
		<key>o</key>
		<string>о</string>
		<key>p</key>
		<string>п</string>
		<key>r</key>
		<string>р</string>
		<key>s</key>
		<string>с</string>
		<key>t</key>
		<string>т</string>
		<key>u</key>
		<string>у</string>
		<key>f</key>
		<string>ф</string>
	</dict>
</dict>
</plist>
